{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Employee Managnment System</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Employee Managnment System</h1>   
{{ end }}